<% include ./partials/header %>

<div class="d-flex my-5 ml-3">
  <div class="text-light">
    <h1 class="display-4">Welcome to the Super Hero Cave!</h1>
    <p class="lead">You can look up any existing super hero by searching or create your own!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/heroes" role="button">See Heroes</a>
  </div>
</div>

<% include ./partials/footer %>
