<% include ./partials/header %>

<form action="/heroes/show" method="get">
  <input type="text" name="name" placeholder="Search for Hero">
  <button type="submit" name="button">Search</button>
</form>


<% include ./partials/footer %>
